body {
}
* {
    /*font-family: Tahoma, Calibri, Tahoma !important;*/
    font-family: Calibri, Arial, 'Glyphicons Halflings' !important;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

body {
    -webkit-touch-callout: initial !important; /* iOS Safari */
    -webkit-user-select: text !important; /* Safari */
    -moz-user-select: text !important; /* Firefox */
    -ms-user-select: text !important; /* Internet Explorer/Edge */
    user-select: text !important;
}

footer p {
    text-align: center;
}

img {
    border: 2px solid #428bca;
    border-radius: 50%;
}

#ReturnTitle {
    border: 2px solid #C40000;
    border-radius: 50%;
}

#Reguard {
    color: white;
    text-decoration: none;
    /*background-color:royalblue;
    padding: 8px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    margin-top:7px;*/
}

#formDiv {
    margin-top: 5px;
    background-color: yellow !important;
    height: 10em;
    width: 10em;
    color: black;
    position: fixed;
    border-radius: 25px;
}

#showHide {
    border: 0.5px lightgray solid;
    padding: 9px;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    margin-top: 15px;
}

    #showHide :hover {
        /*border: 0.5px lightgray solid;*/
        padding: 9px;
        border-radius: 25px;
        /*background-color:white;
    color: red;*/
        font-weight: 600;
    }

.clearer {
    clear: both;
}

#imgport {
    width: 35px !important;
    border: none !important;
    margin-top: -5px;
}

.navbar {
    max-height: 55px !important;
    background-color: #2C4152;
}

#labelport {
    /*position: absolute;*/
    color: white !important;
    /*margin-top:-20px !important;*/
    margin-left: 5px;
}

td{
    vertical-align: middle !important;
}