@{
    ViewBag.Title = "Acerca de";
}
<h2>Telecomunicaciones 2020</h2>
<h3>Ing. Alex García</h3>
<br>
<p>Integrantes grupo:</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Samuel Díaz Alvarado (0900-16-269)</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Estuardo Alejando Hernández (0900-16-)</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Brayan (0900-)</p>

