@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1 style="font-weight:600">PROYECTO FINAL</h1>
    <h3 style="font-weight:600">Ecosistema IPV4 - IPV6</h3>
    <p class="lead">
        <br>
        - Se debe de establecer una red de servicios IPV4 publicando una página WEB
        <br>
        - Se debe de establecer una red de servicios IPV6 publicando un servicio de datos a través de un motor BD
        <br>
        - Se debe de hacer una prueba en cada una de las redes para ver el servicio y visualizar los datos
        <br>
        - Se debe de elaborar un tunel IPV4 - IPV6 a elección
        <br>
        - El modelo de la solución puede ser físico o virtual
        <br><br>
    </p>
    <p style="text-align:center"><a href="" class="btn btn-primary btn-lg">Diagrama de la solución</a></p>
</div>
